<div class='swiper-content-wrapper'>
	<swiper
		[config]='config'
		class='swiper-banner'
	>
		<ng-template swiperSlide>
			<app-swiper-banner-card title='Сделаем мир чище'
			                text='Сдай макулатуру или старую одежду и получи скидку на покупку товаров из переработанных материалов'
			                btnText='Условия сервиса' background='#B3EDC8' image='/assets/images/bg-first-banner.png'>
			</app-swiper-banner-card>
		</ng-template>
		<ng-template swiperSlide>
			<app-swiper-banner-card title='А вы знали...'
			                text='что среднее время разложения пластмассовых изделий колеблется от 400 до 700 лет,  а полиэтиленовых пакетов — от 100 до 200 лет? '
			                btnText='Узнать больше' background='#FFE48F' image='/assets/images/bg-second-banner.png'>
			</app-swiper-banner-card>
		</ng-template>
		<ng-template swiperSlide>
			<app-swiper-banner-card title='Что с масками?'
			                text='Сдай макулатуру или старую одежду и получи скидку на покупку товаров из переработанных материалов'
			                btnText='Пункты сбора масок' background='#BFF0DE' image='/assets/images/bg-third-banner.png'>
			</app-swiper-banner-card>
		</ng-template>
	</swiper>
</div>
