<div class='profile-wrapper-skeleton'>
	<div>
		<ngx-skeleton-loader
			appearance="line"
			[theme]="{ width: '330px', height: '48px'}"
		>
		</ngx-skeleton-loader>
	</div>
	<div class="profile-card-wrapper">
		<div class="information-profile-wrapper">
			<div class='img'>
				<ngx-skeleton-loader
					appearance="circle"
					[theme]="{ width: '128px', height: '128px'}"
				>
				</ngx-skeleton-loader>
			</div>
			<div class="information-about-user">
				<div class='name'>
					<ngx-skeleton-loader
						appearance="line"
						[theme]="{ width: '225px', height: '28px'}"
					>
					</ngx-skeleton-loader>
				</div>
				<div class='number'>
					<ngx-skeleton-loader
						appearance="line"
						[theme]="{ width: '145px', height: '20px'}"
					>
					</ngx-skeleton-loader>
				</div>
				<div class='email'>
					<ngx-skeleton-loader
						appearance="line"
						[theme]="{ width: '141px', height: '20px'}"
					>
					</ngx-skeleton-loader>
				</div>
			</div>
			<div>
				<ngx-skeleton-loader
					appearance="line"
					[theme]="{ width: '320px', height: '56px'}"
				>
				</ngx-skeleton-loader>
			</div>
		</div>
	</div>

</div>
