<header>
	<div class="header">
		<div class="navigation">
			<a [routerLink]="['/main']">
				<img src='/assets/svg-icons/ecorus.svg'/>
			</a>
			<nav>
				<a [routerLink]="['/']" class="main">Главная</a>
				<a [routerLink]="['/collectionpoints']">Пункты сбора</a>
				<a [routerLink]="['/ecomarket']">ЭкоМаркет</a>
				<a [routerLink]="['/']">О сервисе</a>
			</nav>
		</div>

		<div class="additional-information">
			<button  class="city">
				<img src='/assets/svg-icons/сity.svg'/>
				<span>Казань</span>
			</button>
			<button class="sign-in" (click)='openLoginDialog()'>
				<img src='/assets/svg-icons/signIn.svg'/>
				<span>Войти</span>
			</button>
			<button class="menu-burger-btn" onClick={onMenuBurger}>
				<img src='/assets/svg-icons/menu-burger.svg'/>
			</button>
		</div>
	</div>
</header>
