<div class='body-for-ecomarket-page-skeleton'>
	<div class='header-and-button-filter-skeleton'>
		<ngx-skeleton-loader
			appearance="line"
			[theme]="{ width: '225px', height: '36px'}"
		>
		</ngx-skeleton-loader>

		<div class='filters'>
			<div class='button-filter'>
				<ngx-skeleton-loader
					appearance="line"
					[theme]="{ width: '120px', height: '34px' }"
				>
				</ngx-skeleton-loader>
			</div>
			<div class='button-filter'>
				<ngx-skeleton-loader
					appearance="line"
					[theme]="{ width: '120px', height: '34px' }"
				>
				</ngx-skeleton-loader>
			</div>
			<div class='button-filter'>
				<ngx-skeleton-loader
					appearance="line"
					[theme]="{ width: '120px', height: '34px' }"
				>
				</ngx-skeleton-loader>
			</div>
		</div>
	</div>

	<div class='filter-and-table-skeleton'>
		<div class='filter-skeleton'>
			<div class='block-of-filter-skeleton'>
				<ngx-skeleton-loader
					appearance="line"
					[theme]="{ width: '31px', height: '24px' }"
				>
				</ngx-skeleton-loader>
				<div>
					<ngx-skeleton-loader
						appearance="line"
						[theme]="{ width: '92px', height: '20px' }"
					>
					</ngx-skeleton-loader>
				</div>
				<div>
					<ngx-skeleton-loader
						appearance="line"
						[theme]="{ width: '92px', height: '20px' }"
					>
					</ngx-skeleton-loader>
				</div>
			</div>
			<div class='block-of-filter-skeleton'>
				<ngx-skeleton-loader
					appearance="line"
					[theme]="{ width: '31px', height: '24px' }"
				>
				</ngx-skeleton-loader>
				<div>
					<ngx-skeleton-loader
						appearance="line"
						[theme]="{ width: '116px', height: '20px' }"
					>
					</ngx-skeleton-loader>
				</div>
				<div>
					<ngx-skeleton-loader
						appearance="line"
						[theme]="{ width: '116px', height: '20px' }"
					>
					</ngx-skeleton-loader>
				</div>
				<div>
					<ngx-skeleton-loader
						appearance="line"
						[theme]="{ width: '116px', height: '20px' }"
					>
					</ngx-skeleton-loader>
				</div>
			</div>
		</div>

		<div class='table-skeleton'>
			<div class='card-skeleton'>
				<ngx-skeleton-loader
					appearance="line"
					[theme]="{ width: '274px', height: '270px' }"
				>
				</ngx-skeleton-loader>
				<div>
					<ngx-skeleton-loader
						appearance="line"
						[theme]="{ width: '100px', height: '20px' }"
					>
					</ngx-skeleton-loader>
				</div>
				<div class='balance-skeleton'>
					<ngx-skeleton-loader
						appearance="circle"
						[theme]="{ margin: '0px 4px 0px 0px', width: '24px', height: '24px' }"
					>
					</ngx-skeleton-loader>
					<ngx-skeleton-loader
						appearance="line"
						[theme]="{ margin: '0px', width: '35px', height: '20px'}"
					>
					</ngx-skeleton-loader>
				</div>
			</div>
			<div class='card-skeleton'>
				<ngx-skeleton-loader
					appearance="line"
					[theme]="{ width: '274px', height: '270px' }"
				>
				</ngx-skeleton-loader>
				<div>
					<ngx-skeleton-loader
						appearance="line"
						[theme]="{ width: '100px', height: '20px' }"
					>
					</ngx-skeleton-loader>
				</div>
				<div class='balance-skeleton'>
					<ngx-skeleton-loader
						appearance="circle"
						[theme]="{ margin: '0px 4px 0px 0px', width: '24px', height: '24px' }"
					>
					</ngx-skeleton-loader>
					<ngx-skeleton-loader
						appearance="line"
						[theme]="{ margin: '0px', width: '35px', height: '20px'}"
					>
					</ngx-skeleton-loader>
				</div>
			</div>
			<div class='card-skeleton'>
				<ngx-skeleton-loader
					appearance="line"
					[theme]="{ width: '274px', height: '270px' }"
				>
				</ngx-skeleton-loader>
				<div>
					<ngx-skeleton-loader
						appearance="line"
						[theme]="{ width: '100px', height: '20px' }"
					>
					</ngx-skeleton-loader>
				</div>
				<div class='balance-skeleton'>
					<ngx-skeleton-loader
						appearance="circle"
						[theme]="{ margin: '0px 4px 0px 0px', width: '24px', height: '24px' }"
					>
					</ngx-skeleton-loader>
					<ngx-skeleton-loader
						appearance="line"
						[theme]="{ margin: '0px', width: '35px', height: '20px'}"
					>
					</ngx-skeleton-loader>
				</div>
			</div>
		</div>
	</div>

</div>




