<div class="full-card-on-page" *ngIf='collPoint'>
	<div class="full-recycling-card-wrapper">
		<button  class="btn-back-full-card" (click)='back()'>
			<img src='/assets/svg-icons/left-arrow-back.svg'>
			Вернуться назад
		</button>
		<div class="full-information-recycling-card">
			<img [src]='collPoint.img' class="image-full-card"/>
			<div class="full-card-information-wrapper">
				<div class="address-and-phone">
					<h5>
						{{collPoint.address}}
					</h5>

					<p>
						{{collPoint.phone}}
					</p>
				</div>

				<div class="timetable">
					<p>
						{{collPoint.timetable}}
					</p>
				</div>

				<div class='shop-and-items'>
					<p>
						{{collPoint.shop}}
					</p>

					<div class='items'>
						<div *ngFor='let item of collPoint.items'>
							<button>
								{{item}}
							</button>
						</div>
					</div>
				</div>
			</div>
			<app-button-medium title='Закрыть' color='white' background='#07C88E'>
			</app-button-medium>
		</div>
	</div>
</div>
