<div class="full-card-on-page">
	<div class="full-recycling-card-wrapper">
		<button  class="btn-back-full-card">
				Вернуться назад
		</button>
		<div class="full-information-recycling-card">
			<img [src]='image' class="image-full-card"/>
			<div class="full-card-information-wrapper">
				<div class="address-and-phone">
					<h5>
						{{address}}
					</h5>

					<p>
						{{phone}}
					</p>
				</div>

				<div class="timetable">
					<p>
						{{timetable}}
					</p>
				</div>

				<div class="shop-and-items">
					<p>
						{{shop}}
					</p>
					<div *ngFor='let item of items'>
						<button>
							{{item}}
						</button>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
