<div class="profile-page-wrapper">
	<h1>Личный кабинет</h1>
	<div class="profile-information-wrapper">
		<app-profile-card name='Алексей Петров'
		                  telephone='+7 (917) 888 88 88'
		                  email='ivanov@gmail.com'
		                  image='/assets/images/profile-image.png'
		></app-profile-card>
		<div class="promocode-and-history-wrapper">
			<div class="promocode-history-nav">
				<a [routerLink]="['/profile/promocode']"
				   class='switch-link'
				   [routerLinkActive]="['switch-link-active']">Промокоды</a>
				<a [routerLink]="['/profile/history']"
				   class='switch-link'
				   [routerLinkActive]="['switch-link-active']">История</a>
			</div>
			<router-outlet></router-outlet>
		</div>

	</div>
</div>
