<form class='form_modal'
	[formGroup]='formGroup'>
	<input
		formControlName='firstname'
		class='formInput'
		[class.errorFormInput]='isControlValid("name")'
		placeholder='Имя'>

	<ng-container *ngIf='validateControl("name","required")'>
		<app-form-error-message validationMessage='Заполните, пожалуйста, поле'></app-form-error-message>
	</ng-container>

	<ng-container *ngIf='validateControl("name","maxlength")'>
		<app-form-error-message validationMessage='Длинна превышена!'></app-form-error-message>
	</ng-container>

	<input
		formControlName='email'
		class='formInput'
		[class.errorFormInput]='isControlValid("email")'
		placeholder='Email'>

	<ng-container *ngIf='validateControl("email","required")'>
		<app-form-error-message validationMessage='Заполните, пожалуйста, поле'></app-form-error-message>
	</ng-container>

	<ng-container *ngIf='validateControl("email","email")'>
		<app-form-error-message validationMessage='Неправильно набрана почта'></app-form-error-message>
	</ng-container>

	<ng-container *ngIf='validateControl("email","maxlength")'>
		<app-form-error-message validationMessage='Длинна превышена!'></app-form-error-message>
	</ng-container>

	<input
		formControlName='phone_number'
		class='formInput'
		[class.errorFormInput]='isControlValid("phone")'
		placeholder='Телефон'
	>
	<ng-container *ngIf='validateControl("phone","required")'>
		<app-form-error-message validationMessage='Заполните, пожалуйста, поле'></app-form-error-message>
	</ng-container>

	<input
		formControlName='password'
		class='formInput'
		[class.errorFormInput]='isControlValid("password")'
		placeholder='Пароль'
		type='password'>

	<ng-container *ngIf='validateControl("password","required")'>
		<app-form-error-message validationMessage='Заполните, пожалуйста, поле'></app-form-error-message>
	</ng-container>

	<ng-container *ngIf='validateControl("password","maxlength")'>
		<app-form-error-message validationMessage='Длинна превышена'></app-form-error-message>
	</ng-container>

	<app-button-modal title='Зарегистрироваться' background='#07C88E' color='white' type='submit' [submitFunc]='signUp()'>
	</app-button-modal>

	<div class='modal__underLinks'>
		<button (click)='openLoginDialog()'>
			Я уже зарегистировался(-ась)
		</button>
	</div>

	<app-button-modal title='Вход для партнера' background='rgba(62, 80, 114, 0.08)' color='rgba(0, 11, 38, 0.8)'
	type='submit' (click)='openLoginForPartnersDialog()'></app-button-modal>
</form>
