$font-stack: Inter, sans-serif


h1, p
	font-family: $font-stack

h1
	font-size: 48px
	padding: 0
	margin: 0


.container
	width: 1200px


.content
	display: flex
	align-items: center
	text-align: left
	border-radius: 24px
	justify-content: space-between

	.text
		width: 500px


.wrapperTitle
	margin-left: 40px
	p
		font-weight: 400
		font-size: 16px
		line-height: 24px
		color: rgba(0, 11, 38, 0.8)
		margin-top: 16px
		margin-bottom: 40px


.image
	display: flex
	align-items: flex-end
	justify-content: end

	img
		border-radius: 16px
		width: 100%
		max-width: 560px


.buttonWrapper
		cursor: pointer
		font-size: 16px
		background: #07C88E
		color: white
		justify-content: center
		align-items: center
		border-radius: 8px
		border: none
		padding: 1em 2em

.buttonWrapper:hover
	background: #0ad595
	box-shadow: 0px 20px 40px rgba(7, 200, 142, 0.25)
