@import "src/app/styles/mixins.sass"
@import "src/app/styles/colors.sass"

h1
	font-size: 48px
	padding: 0
	margin: 0


.container
	max-width: 1200px
	width: 100%
	margin: 0 auto


.content
	display: flex
	align-items: center
	text-align: left
	border-radius: 24px
	justify-content: space-between

	.text
		width: 500px


.wrapperTitle
	margin-left: 40px
	p
		font-weight: 400
		font-size: 16px
		line-height: 24px
		color: $c-text-88
		margin-top: 16px
		margin-bottom: 40px


.image
	display: flex
	align-items: flex-end
	justify-content: end

	img
		border-radius: 16px
		width: 100%
		max-width: 560px


.buttonWrapper
		cursor: pointer
		font-size: 16px
		background: #07C88E
		color: $c-white
		justify-content: center
		align-items: center
		border-radius: 8px
		border: none
		padding: 12px 24px

.buttonWrapper:hover
	background: $c-green
	box-shadow: 0px 20px 40px rgba(7, 200, 142, 0.25)

@include screenMax1250
	.container
		max-width: 1100px
		width: 100%
		margin: 0 auto

@include screenMax1100

	h1
		font-size: 32px
		padding: 0
		margin: 0

	.wrapperTitle
		margin-left: 40px
		p
			font-weight: 400
			font-size: 16px
			line-height: 24px
			margin-top: 16px
			margin-bottom: 24px

	.container
		max-width: 850px
		width: 100%
		margin: 0 auto


@include screenMax850

	h1
		font-size: 28px
		padding: 0
		margin: 0

	.wrapperTitle
		margin-left: 40px
		p
			font-weight: 400
			font-size: 16px
			line-height: 20px
			margin-top: 16px
			margin-bottom: 24px


	.container
		max-width: 750px
		width: 100%
		margin: 0 auto

@include screenMax730

	h1
		font-size: 24px
		padding: 0
		margin: 0

	.wrapperTitle
		margin-left: 40px
		p
			font-weight: 400
			font-size: 14px
			line-height: 20px
			margin-top: 12px
			margin-bottom: 16px

	.container
		max-width: 550px
		width: 100%
		margin: 0 auto

	.image
		height: 100%
		img
			border-radius: 16px
			height: 100%

	.buttonWrapper
		font-size: 14px
		border-radius: 8px
		border: none

@include screenMax500
	.container
		width: 100%
		height: 425px


	.content
		display: block
		align-items: center
		text-align: left
		border-radius: 0px
		justify-content: space-between
		height: 355px
		padding-top: 24px
		background-position: bottom !important

		.text
			width: 400px
			margin: 0 auto


	.wrapperTitle
		margin-left: 0px
		h1
			font-size: 24px
			padding: 0
			margin: 0

		p
			font-weight: 400
			font-size: 16px
			line-height: 24px
			margin-top: 16px
			margin-bottom: 40px


	.image
		display: block


		img
			display: block
			border-radius: 16px
			margin: 0px auto
			width: 100%
			max-width: 400px


	.buttonWrapper
		width: 100%
		font-size: 16px
		padding: 1em 2em


@include screenMax375
	.content
		display: block
		align-items: center
		text-align: left
		border-radius: 0px
		justify-content: space-between
		height: 425px
		padding-top: 24px
		background-position: bottom !important
		background: rgba(62, 80, 114, 0.08) url(../../../../assets/images/bg-first-banner-mb.png) no-repeat

		.text
			width: 343px
			margin: 0 auto
