

		<div class='filters_checkboxes_mobile'>
			<div class="block-of-filter">
				<h5>Пол</h5>
				<div *ngFor="let i of allGenders">
					<app-checkboxes [title]='i.name'></app-checkboxes>
				</div>
			</div>

			<div class="block-of-filter">
				<h5>Тип товара</h5>
				<app-checkboxes title='Выбрать все'></app-checkboxes>
				<div *ngFor="let i of allTypes">
					<app-checkboxes title="{{i.name}}"></app-checkboxes>
				</div>
			</div>

			<div class="block-of-filter">
				<h5>Бренд</h5>
				<app-checkboxes title='Выбрать все'></app-checkboxes>
				<div *ngFor="let i of allBrands">
					<app-checkboxes title="{{i.name}}"></app-checkboxes>
				</div>
			</div>
		</div>




