<form class='form_modal'
	[formGroup]='formGroup'>
	<input
		formControlName='email'
		class='formInput'
		[class.errorFormInput]='isControlValid("email")'
		placeholder='Email'>

	<ng-container *ngIf='validateControl("email","required")'>
		<app-form-error-message validationMessage='Это поле обязательно'></app-form-error-message>
	</ng-container>

	<ng-container *ngIf='validateControl("email","email")'>
		<app-form-error-message validationMessage='Неправильный формат почты'></app-form-error-message>
	</ng-container>

	<ng-container *ngIf='validateControl("email","maxlength")'>
		<app-form-error-message validationMessage='Максимальная длина превышена'></app-form-error-message>
	</ng-container>

	<input
		formControlName='password'
		class='formInput'
		[class.errorFormInput]='isControlValid("password")'
		placeholder='Пароль'
		type='password'>

	<ng-container *ngIf='validateControl("password","required")'>
		<app-form-error-message validationMessage='Это поле обязательно'></app-form-error-message>
	</ng-container>

	<ng-container *ngIf='validateControl("password","maxlength")'>
		<app-form-error-message validationMessage='Максимальная длина превышена'></app-form-error-message>
	</ng-container>

	<app-button-modal title='Войти' background='#07C88E' color='white' type='submit'></app-button-modal>

	<div class='modal__underLinks'>
		<button>
			Войти с помощью смс
		</button>
		<button (click)='openSignUpDialog()'>
			Регистрация
		</button>
	</div>

</form>
