<aside class="aside-wrapper">
	<div class="block-of-filter">
		<h5>Пол</h5>
		<div *ngFor="let i of allGenders">
			<app-checkboxes [title]='i.name'></app-checkboxes>
		</div>
	</div>

	<div class="block-of-filter">
		<h5>Тип товара</h5>
		<div *ngFor="let i of allTypes">
			<app-checkboxes title="{{i.name}}"></app-checkboxes>
		</div>
	</div>

	<div class="block-of-filter">
		<h5>Бренд</h5>
		<div *ngFor="let i of allBrands">
			<app-checkboxes title="{{i.name}}"></app-checkboxes>
		</div>
	</div>
</aside>

<div class='reset-filters'>
	<app-button-medium type='button' title='Сбросить фильтры' background='rgba(62, 80, 114, 0.08)'
	                   color='rgba(0, 11, 38, 0.8)' (click)='resetFilter()'>
	</app-button-medium>
</div>


