<form class='form_modal'
	[formGroup]='formGroup'>
	<input
		formControlName='phone'
		class='formInput'
		[class.errorFormInput]='isControlValid("phone")'
		placeholder='Телефон'>

	<ng-container *ngIf='validateControl("phone","required")'>
		<app-form-error-message validationMessage='Это поле обязательно'></app-form-error-message>
	</ng-container>

	<ng-container *ngIf='validateControl("phone","maxlength")'>
		<app-form-error-message validationMessage='Максимальная длина превышена'></app-form-error-message>
	</ng-container>

	<app-button-modal title='Получить код' background='#07C88E' color='white' type='submit' (click)='openEnterTheCodeDialog()'></app-button-modal>

	<div class='modal__underLinks'>
		<button (click)='openLoginDialog()'>
			Я уже зарегестрировался(-ась)
		</button>
	</div>

	<app-button-modal title='Вход для партнера' background='rgba(62, 80, 114, 0.08)' color='rgba(0, 11, 38, 0.8)'
	                  type='submit' (click)='openLoginForPartnersDialog()'></app-button-modal>

</form>
