<div class="promocode-card-wrapper">
	<div class='cost-information-wrapper'>
		<div class="cost-wrapper">
			<h3>{{cost}}</h3>
		</div>
		<div class="promocode-information-wrapper">
			<div class='date'>
				<p>Дата создания</p>
				<h4>{{date}}</h4>
			</div>

			<div class='ref'>
				<p>Ссылка на товар</p>
				<h5>{{link}}</h5>
			</div>
		</div>
	</div>

	<app-button-small title='Показать qr-код'
	                  color='rgba(0, 11, 38, 0.8)'
	                  background='rgba(62, 80, 114, 0.08)'
	></app-button-small>
</div>

