@import "../../styles/mixins.sass"

.blocks
	display: flex
	max-width: 1200px
	width: 100%
	align-items: center
	justify-content: space-between
	margin: 48px auto 108px

@include screenMax1250
	.blocks
		max-width: 1100px
		width: 100%

@include screenMax1100
	.blocks
		max-width: 850px
		width: 100%


@include screenMax850
	.blocks
		max-width: 750px
		width: 100%

@include screenMax730
	.blocks
		max-width: 550px
		width: 100%

@include screenMax500
	.blocks
		display: block
		max-width: 400px
		width: 100%
		margin: -100px auto
		z-index: 20
		position: relative

@include screenMax375
	.blocks
		max-width: 343px

