<div class="menu-burger-wrapper">
	<div class="menu-burger">
		<div class="profile-menu-burger">
			<img src='/assets/images/profile-menu-burger.png' alt="профиль"/>
			<div class="information-profile-burger">
				<p class="name-profile-burger">
					Алексей Петрович
				</p>
				<div class="balance-burger">
					<img src='/assets/images/balance.png' alt='иконка баланса'/>
					<p>1000</p>
				</div>
			</div>
		</div>

		<nav class="navigation-burger">
			<a [routerLink]="['/']" class="main">Главная</a>
			<a [routerLink]="['/collectionpoints']">Пункты сбора</a>
			<a [routerLink]="['/ecomarket']">ЭкоМаркет</a>
			<a [routerLink]="['/']">О сервисе</a>
		</nav>

		<button class="city-burger">
			<img src='/assets/svg-icons/сity.svg' alt='город'/>
			<span>Казань</span>
		</button>
	</div>
</div>
