<div class="skeleton-wrapper">
	<div class="skeleton-input-filters">
		<div>
			<ngx-skeleton-loader
				appearance="line"
				[theme]="{ width: '600px', height: '48px'}"
			>
			</ngx-skeleton-loader>
		</div>
		<div>
			<ngx-skeleton-loader
				appearance="line"
				[theme]="{ width: '280px', height: '48px'}"
			>
			</ngx-skeleton-loader>
		</div>
		<div>
			<ngx-skeleton-loader
				appearance="line"
				[theme]="{ width: '280px', height: '48px'}"
			>
			</ngx-skeleton-loader>
		</div>
	</div>
	<div class="skeleton-cards-on-map">
		<div>
			<ngx-skeleton-loader
				appearance="line"
				[theme]="{ width: '384px', height: '110px'}"
			>
			</ngx-skeleton-loader>
		</div>
		<div>
			<ngx-skeleton-loader
				appearance="line"
				[theme]="{ width: '384px', height: '110px'}"
			>
			</ngx-skeleton-loader>
		</div>
		<div>
			<ngx-skeleton-loader
				appearance="line"
				[theme]="{ width: '384px', height: '110px'}"
			>
			</ngx-skeleton-loader>
		</div><div>
		<ngx-skeleton-loader
			appearance="line"
			[theme]="{ width: '384px', height: '110px'}"
		>
		</ngx-skeleton-loader>
	</div>
	</div>
</div>
