
	<form class='form-modal'
	      [formGroup]='formGroup'>
		<input
			formControlName='login'
			class='formInput'
			[class.errorFormInput]='isControlValid("phone")'
			placeholder='Телефон'>

		<ng-container *ngIf='validateControl("phone","required")'>
			<app-form-error-message validationMessage='Заполните, пожалуйста, поле!'></app-form-error-message>
		</ng-container>

		<ng-container *ngIf='validateControl("phone","maxlength")'>
			<app-form-error-message validationMessage='Длинна превышена!'></app-form-error-message>
		</ng-container>

		<input
			formControlName='password'
			class='formInput'
			[class.errorFormInput]='isControlValid("password")'
			placeholder='Пароль'
			type='password'>

		<ng-container *ngIf='validateControl("password","required")'>
			<app-form-error-message validationMessage='Заполните, пожалуйста, поле'></app-form-error-message>
		</ng-container>

		<ng-container *ngIf='validateControl("password","maxlength")'>
			<app-form-error-message validationMessage='Длинна превышена!'></app-form-error-message>
		</ng-container>

		<app-button-large title='Войти' background='#07C88E' color='white' type='submit' [submitFunc]='login()'></app-button-large>

		<div class='modal-underLinks'>
			<button (click)='openLoginWithSMSDialog()'>
				Войти с помощью смс
			</button>
			<button (click)='openSignUpDialog()'>
				Регистрация
			</button>
		</div>

		<app-button-large title='Вход для партнера' background='rgba(62, 80, 114, 0.08)' color='rgba(0, 11, 38, 0.8)'
		                  type='submit' (click)='openLoginForPartnersDialog()'></app-button-large>
	</form>

