<div class="ecomarket-page">
	<div class="body-for-ecomarket-page">
		<div class="header-and-button-filter">
			<h1>ЭкоМаркет</h1>
			<app-button-medium type='button' title='Фильтры' background='rgba(62, 80, 114, 0.08)'
			                   color='rgba(0, 11, 38, 0.8)'></app-button-medium>
			<div class="button-filters">
				<app-filters-btn></app-filters-btn>
			</div>
		</div>
		<div class="filter-and-table">
			<div class="filter-wrapper">
				<app-filter-checkboxes></app-filter-checkboxes>
			</div>
			<div class="table-products">
				<div *ngFor="let i of products">
					<app-product-card title='{{i.title}}' producer='{{i.producer}}' img='{{i.img}}' price='{{i.price}}'>
					</app-product-card>
				</div>
			</div>

		</div>

	</div>
	<app-footer></app-footer>
</div>
