<div class="skeleton-wrapper">
	<div class="skeleton-swapper">
		<div class="offer">
			<div>
				<ngx-skeleton-loader
					appearance="line"
					[theme]="{ width: '476px', height: '56px'}"
				>
				</ngx-skeleton-loader>
			</div>
			<div>
				<ngx-skeleton-loader
					appearance="line"
					[theme]="{ width: '400px', height: '30px'}"
				>
				</ngx-skeleton-loader>
			</div>
			<div>
				<ngx-skeleton-loader
					appearance="line"
					[theme]="{ width: '180px', height: '48px'}"
				>
				</ngx-skeleton-loader>
			</div>
		</div>
	</div>

	<div class="skeleton-main-card-button">
		<div class="card-skeleton">
			<div class="card-offer">
				<div>
					<ngx-skeleton-loader
						appearance="line"
						[theme]="{ width: '230px', height: '40px'}"
					>
					</ngx-skeleton-loader>
				</div>
				<div>
					<ngx-skeleton-loader
						appearance="line"
						[theme]="{ width: '245px', height: '72px'}"
					>
					</ngx-skeleton-loader>
				</div>
				<div>
					<ngx-skeleton-loader
						appearance="line"
						[theme]="{ width: '48px', height: '48px'}"
					>
					</ngx-skeleton-loader>
				</div>
			</div>
		</div>

		<div class="card-skeleton">
			<div class="card-offer">
				<div>
					<ngx-skeleton-loader
						appearance="line"
						[theme]="{ width: '230px', height: '40px'}"
					>
					</ngx-skeleton-loader>
				</div>
				<div>
					<ngx-skeleton-loader
						appearance="line"
						[theme]="{ width: '245px', height: '72px'}"
					>
					</ngx-skeleton-loader>
				</div>
				<div>
					<ngx-skeleton-loader
						appearance="line"
						[theme]="{ width: '48px', height: '48px'}"
					>
					</ngx-skeleton-loader>
				</div>
			</div>
		</div>
	</div>
</div>
